.post-container-cards{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}
.postDescription{
    width: 50%;
}
.post-card-content{
    background-color: ivory;
    border-radius: 5%;
}
.post-card-content button{
    background-color: lavender;
    border-radius: 4%;
    margin-left: 18%;
}
.postH1{
    display: flex;
    justify-content: center;
}
.card{
    background-color: #707e85;
    border-radius: 3%;
    margin-top: 5%;
    width: 33%;
}