.MotorcycleHeader {
    display: flex;
    width: 100%;
    max-height: 32em;
    position:relative;
    padding-top: 0%;
  }
.post-spotlight{
  margin-left: 5%;
}
h1{
  margin-left: 5%;
}
.refreshButton{
  margin-left: 5%;
}
.postDescription{
  width: 25%;
}
.top3{
  float: right;
  top: 0%;
  display: flex;
}
.solid{
  margin-right: 15%;
}