.container--login{
    width: 33%;
    margin-left: 2%;
    display: flex;
}
.loginSolidWords{
    margin-left: 0%;
}
.fieldForButton{
    border: 0px;
}

.loginSide img{
    position: relative;
    width: 202%;
    left: 100%;
    margin-top: 0%;
    display: flex;
    margin-left: 147%;
    padding-right: 0%;
    height: 102%;
}
.form--login {
    margin-top: 133%;
    min-width: 190%;
    margin-left: -75%;
    border: ivory solid .1em;
    border-radius: 3%;
    background-color: ivory;
}
.submitButton{
    background-color: ivory;
}
.form-control{
    background-color: white;
}

